@import 'material-shadows.less';

.app-store {
    .top-bar {
        width: 100%;
    }

    .content {
        margin: 0;
        width: 100%;
        padding-bottom: 1em;

        .cell {
            position: relative;
            width: 32%;
            margin: auto;
            margin-top: .5em;
            margin-bottom: .5em;

            .app-card {
                width: 100%;
                margin: 0;
                .z-depth(6);

                .meta {
                    font-size: .7rem;
                    margin-bottom: .2em;
                }

                .install {
                    float: right;
                }
            }
        }
    }
}

.add-new-app {
    .wrapper {
        padding: 2em !important;

        textarea {
            resize: vertical;
        }
    }

}
