@root-path: '../../../';
@client-path: '../../';
@img-local-path: '@{client-path}wwwroot/img/';
@server-root-path: 'http://localhost:3000/';
@grey: #4d4b4b;

html {
    height: 100vh;

    body {
        height: 100%;
        overflow: hidden;
    }

    .grid-container, .fluid {
        padding: 0 !important;
    }
}
