@root-path: '../../../';
@client-path: '../../';
@img-local-path: '@{client-path}wwwroot/img/';
@server-root-path: 'http://localhost:3000/';
@grey: #4d4b4b;

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    body {
        height: 100%;
    }

    .grid-container, .fluid {
        padding: 0 !important;
        height: 100%;
    }
}
