@import 'material-shadows.less';

.my-profile {
    background-color: #F5F5F5;
    position: relative;
    max-width: 100%;
    width: 100%;

    .inner-my-profile {
        padding: 2em;

        .cell {
            background-color: white;
            margin-bottom: .7em;
            padding: 1em;

            #name-wrapper {
                display: inline;

                div, h5, p {
                  display: inline;
                }
            }

            #link-social-accounts-wrapper {
                display: inline;
                margin-left: 9em;

                .link-account {
                    cursor: pointer;
                }

                div {
                  display: inline;
                }

                .icon {
                    width: 3em;
                    height: 3em;
                }
            }

            .summary {
                min-height: 8em;
                resize: vertical;
            }

            .add-link-btn {
                width: 7em;
            }

            .lbl {
                font-size: .7rem;
            }

            .link-label-wrapper {
                margin-right: .2em;
                min-width: 10em;
            }

            .callout {
                border: none;
                margin: 0;
                padding: .3em;

                .close-button {
                    color: red;
                }

                .disabled {
                    display: none;
                }
            }

            .slug, .skill, input, select {
                font-size: .8rem;
                height: 2.1rem;
            }
        }

        .block-item {
            .z-depth(4);
        }
    }
}

.shivayl-cv {
    height: 100%;

    img {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}
