.my-profile {
    position: relative;
    width: 100%;
    max-width: 100%;

    .inner-my-profile {
        padding: .5em;

        .add-link-btn {
            width: 7em;
        }

        .link-label-wrapper {
            margin-right: .2em;
        }
    }
}
