@import 'variables';

.taskbar {
    background-color: #3d3d3d;
    height: @taskbar-hight !important;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    z-index: @taskbar-idx;

    .menu-icon-wrap {
        width: @taskbar-hight;
    }

    .icon-wrap {
        height: @taskbar-hight;

        ul {
            display: inline;
            list-style-type: none;
            margin-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
            }
        }
    }

    .icon {
        width: @taskbar-hight;
        height: @taskbar-hight;

        &:hover {
            background-color: @hover-ligth-grey-color;
            cursor: pointer;
        }
    }

    .minimized {
        border-bottom: .15em solid white;
    }
}
