@root-path: '../../../';
@client-path: '../../';
@img-local-path: '@{client-path}wwwroot/img/';
// @server-root-path: 'http://localhost:3000/';
@server-root-path: 'http://localhost:2000/';
@grey: #4d4b4b;
@hover-ligth-grey-color: #626060;

@hidden-start-menu-bottom: -35em;
@taskbar-hight: 3em;
@taskbar-idx: 2;
