/** GLOBAL */

html {
  overflow-x: hidden;
}

body {
  background: #efefef;
  color: #8b8e94;
  line-height: 28px;
  font-size: 14px;
  font-family: "Poppins", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #181920;
  line-height: 1.5;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5, h6 {
  font-size: 14px;
}

p, ul, ol {
  margin-bottom: 30px;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #7ed321;
}

a:hover, a:focus, a:active {
  color: #71bd1e;
  text-decoration: none;
}

/** End of GLOBAL */

/* HEADER NAV */

.header_area {
  position: relative;
  width: 100%;
  z-index: 9999;
  background: #ffffff;
}

.header_area .navbar-brand {
  margin: auto;
  padding: 15px;
  /*margin-right: 30px;*/
}

.header_area .navbar-brand img {
  width: 250px;
}

.header_area .menu_nav {
  width: 100%;
}

.header_area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  width: 100%;
}

.header_area .navbar .nav .nav-item {
  margin-right: 45px;
}

.header_area .navbar .nav .nav-item .nav-link {
  font: 500 12px/100px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #000000;
  padding: 0px;
  display: inline-block;
}

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
color: #8252fa;
}

.header_area .navbar .nav .nav-item.submenu {
position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
  }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #222222;
  padding: 0px 30px;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  color: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}

.header_area .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #ffffff;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.2);
}

.header_area .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 70px;
}

@media (min-width: 992px) {
  .header_area.white_menu .navbar .navbar-brand img {
    display: none;
  }

  .header_area.white_menu .navbar .navbar-brand img + img {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .header_area.white_menu .navbar .navbar-brand img {
    display: inline-block;
  }

  .header_area.white_menu .navbar .navbar-brand img + img {
    display: none;
  }
}

.header_area.white_menu .navbar .nav .nav-item .nav-link {
  color: #fff;
}

.header_area.white_menu .main_menu .navbar .navbar-brand img {
  display: inline-block;
}

.header_area.white_menu .main_menu .navbar .navbar-brand img + img {
  display: none;
}

.header_area.white_menu .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 70px;
  color: #222222;
}

/* End of HEADER NAV */

/** ABOVE THE FOLD */

.hero {
  background-image: url(../img/landing-page_BG_desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 5vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-bottom: 4em;
}

.hero .hero-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url(../img/landing-page_BG_mobile.png);
    background-position-x: 0vw;
  }

  .hero .hero-text {
    padding-top: 130px;
    padding-bottom: 5px;
  }
}

.hero.sm-hero .hero-text {
  padding-top: 150px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .hero.sm-hero .hero-text {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.hero.xs-hero .hero-text {
  padding-top: 90px;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .hero.xs-hero .hero-text {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

.hero h1 {
  text-transform: uppercase;
  font-size: 52px;
  color: #181920;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 64px;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 30px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 20px;
  }
}

.hero h2 {
  font-size: 17px;
  margin-bottom: 2em;
}

.hero p {
  font-size: 16px;
}

.hero p:last-child {
  margin-bottom: 0;
}

.hero .btn {
  position: relative;
  font-size: 14px;
  width: 200px;
}

@media screen and (max-width: 480px) {
  .hero .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.hero .btn.btn-primary {
  text-transform: uppercase;
  padding: 15px 20px;
}

.hero.hero-colored {
  background: #7ed321;
}

.hero.hero-colored h1 {
  color: white;
}

.hero.hero-colored p {
  color: rgba(255, 255, 255, 0.8);
}

.hero-text {
  margin: auto;
}

.hero .social-icons {
  margin-top: 2em;
}

.hero .social-icons img {
  width: 50px;
  height: 50px;
  margin: 1em;
}

/** End of ABOVE THE FOLD */

/** SHOWCASE */

.home-showcase-wrap {
  width: 100%;
  margin-top: 5px;
}

.home-showcase-wrap .home-showcase-inner {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .home-showcase-wrap .home-showcase-inner {
    height: calc( 371.14px + 30px );
  }
}

@media screen and (max-width: 1200px) {
  .home-showcase-wrap {
    margin-top: 4em;
  }

  .home-showcase-wrap .home-showcase-inner {
    height: calc( 310.11px + 30px );
  }
}

@media screen and (max-width: 992px) {
  .home-showcase-wrap {
    margin-top: 8em;
  }

  .home-showcase-wrap .home-showcase-inner {
    height: calc( 228.78px + 30px );
  }
}

@media screen and (max-width: 767px) {
  .home-showcase-wrap .home-showcase-inner {
    height: calc( 259.28px + 30px );
  }
}

.home-showcase-wrap .home-showcase-inner .chrome {
  background: #dddde0;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 1;
}

.home-showcase-wrap .home-showcase-inner .chrome > div {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -3px;
}

.home-showcase-wrap .home-showcase-inner .chrome > div > span {
  width: 5px;
  height: 5px;
  display: block;
  float: left;
  margin-right: 4px;
  background: #898991;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .home-showcase-wrap .image-showcase {
    height: 259px;
  }
}

@media screen and (max-width: 480px) {
  .home-showcase-wrap .image-showcase {
    height: 200px;
  }
}

.home-showcase-wrap .image-showcase > ul {
  padding: 0;
  margin: 0;
  position: relative;
  height: auto;
}

.home-showcase-wrap .image-showcase > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.home-showcase-wrap .image-showcase > ul > li img {
  max-width: 100%;
  min-width: 150px;
}

.home-showcase-wrap .image-showcase > ul > li.active {
  opacity: 1;
  visibility: visible;
}

.start-menu-img {
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .start-menu-img {
    bottom: -371.14px !important;
  }
}

@media screen and (max-width: 1200px) {
  .start-menu-img {
    bottom: -310.11px !important;
  }
}

@media screen and (max-width: 992px) {
  .start-menu-img {
    bottom: calc( -228.78px + 30px ) !important;
  }
}

.feature-showcase {
  margin-top: 3em;
  position: relative;
  padding-bottom: 8em;
}

.showcase-nav {
  margin-top: 30px;
}

.showcase-nav ul {
  padding: 0;
  margin: 0;
}

.showcase-nav ul li {
  margin: 0 0 15px 0;
  padding: 0 0 0 20px;
  list-style: none;
}

.showcase-nav ul li > a {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.showcase-nav ul li p {
  display: none;
}

.showcase-nav ul li.active {
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
}

.showcase-nav ul li.active > a {
  color: #7ed321;
  padding-left: 0px;
  display: block;
}

.showcase-nav ul li.active p {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
}

.animate {
  opacity: 0;
  visibility: hidden;
}

/** End of SHOWCASE */

/** FEATURES */

.main_title {
  text-align: center;
  margin-bottom: 75px;
}

.main_title h2 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main_title p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #777777;
  margin-bottom: 0px;
  max-width: 570px;
  margin: auto;
}

.main_title.white h2 {
  color: #fff;
}

.main_title.white p {
  color: #fff;
  opacity: .6;
}

.features_area {
  background-color: white;
}

.features_inner {
  margin-bottom: -50px;
}

.features_item {
  text-align: center;
  margin-bottom: 50px;
}

.features_item i {
  height: 80px;
  width: 80px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background: #f9f9ff;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  color: #222222;
  margin-bottom: 30px;
}

.features_item h4 {
  color: #222222;
  font-size: 20px;
  margin-bottom: 15px;
}

.features_item p {
  max-width: 310px;
  margin: auto;
}

.features_item:hover i {
  background-image: -moz-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -ms-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.features_item:hover h4 {
  color: #3bacf0;
}

/** End of FEATURES */

/** FEATURES-VIDEO */

.features-video {
  padding: 5em;
}

.features-video,
.features-video .home-showcase-inner,
.features-video .home-showcase-wrap {
  height: auto;
}

.features-video .home-showcase-wrap {
  max-width: 1048.66px;
}

.features-video > div {
  margin: auto;
}

.features-video .image-showcase {
  height: 515.19px;
}

.features-video video {
  width: 1048.66px;
}

@media screen and (max-width: 1440px) {
  .features-video video {
    width: 900px;
  }
}

@media screen and (max-width: 1280px) {
  .features-video video {
    width: 800px;
  }
}

/** End of FEATURE-VIDEO */

/** BANNER LEADERBOARD */

.banner-leaderboard {
  background-color: white;
  height: 120px;
  width: 100vw;
  margin: auto;
  position: relative;
  display: block;
  box-sizing: border-box;
  background-image: url(../img/Portfolio-OS_Banner_728×90_no-action.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.banner-leaderboard > div {
  opacity: 0;
  min-height: 50px;
}

@media screen and (max-width: 992px) {
  .banner-leaderboard {
    height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .banner-leaderboard {
    height: auto;
  }
}

/** End of BANNER LEADERBOARD */

/** JOIN-US */

.join-us {
  height: 300px;
  text-align: center;
  padding-top: 3em;
}

.join-us div {
  display: inline-block;
}

.join-us > div > h3  {
  margin-top: 0.8em;
  margin-bottom: 2em;
  font-size: 1.8rem;
  font-weight: bold;
}

.join-us > div > a {
  margin: 1.5em;
}

.join-us img.icon {
  width: 60px;
  height: 60px;
}

/** End of JOIN-US */

/** FOOTER */

.footer {
  padding: 7em 0;
  background: #303841;
  color: rgba(255, 255, 255, 0.3);
}

.footer a {
  color: rgba(255, 255, 255, 0.2);
}

.footer a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 3em 0;
  }
}

.footer .copyright {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .footer .copyright {
    margin-top: 0px;
  }
}

.footer .copyright p {
  line-height: 20px;
}

.footer .copyright p .icon {
  position: relative;
  top: 2px;
}

.footer .footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.footer .footer-widget h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}

.footer .footer-widget ul {
  margin: 0;
  padding: 0;
}

.footer .footer-widget ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social {
  padding: 0;
  margin: 0;
}

.footer-social li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social li a {
  padding: 10px;
  font-size: 22px;
}

.footer-social li:first-child > a {
  padding-left: 0;
}

/** End of FOOTER */

/** UTILS */

.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.pb0 {
  padding-bottom: 0 !important;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/** End of UTILS */
