#body-style {
  background-color: #A8ABAD;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

#header {
  box-shadow: 0 3px 15px 3px gray;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#spy {
  margin-left: auto;
  margin-right: 0 !important;
}

button.navbar-toggler {
  border: 2px solid;
  border-color: rgba(255,255,255, .5) !important;
  margin-top: 1em;
  float: right;
  width: 3.2em;
  height: 2.5em;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

div.collapse {
  margin-top: 1em;
}

.logo {
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
}

#curriculum {
  margin-top: 2em;
  font-size: 1.2rem;
  font-weight: bold;
}

#curriculum-modal > div.modal-dialog {
  max-width: 750px;
}

#curriculum-modal .modal-content {
  width: 750px;
}

#curriculum-modal img {
  width: 100%;
}

#curriculum a {
  color: dodgerblue;
  cursor: pointer;
  margin-left: .3em;
}

#portfolio-os-login-btn {
  margin-bottom: 0;
}

#portfolio-os-login-btn a {
  margin: auto;
}

.anim {
  animation-duration: 1s;
  animation-fill-mode: both;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@keyframes popping {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.popping {
  animation-name: popping;
  animation-iteration-count: infinite;
}

.title-font {
  font-family: 'Poiret One', cursive;
}

.text-font {
  font-family: 'Quicksand', sans-serif;
}

.text-black-mate {
  color: #212529;
}

.mt-2em {
  margin-top: 2em;
}

.mt-4em {
  margin-top: 4em;
}

.mt-6em {
  margin-top: 6em;
}

.pt-5em {
  padding-top: 7em;
}

.bg-soft-orange {
  background-color: #FF9030;
}

.bg-light-grey {
  background-color: #CAC8C8;
}

/* Google Icons*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
